/* Common Styling */
/* colours - #494f47 */
body {
  background: #2b2c39 !important;
  overflow-x: hidden !important;
  color: white !important;
}

/* Bootstrap */

.card {
  margin: 25px !important;
  padding: 15px !important;
  background-color: #181b1d !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.btn {
  background-color: #9fef00 !important;
  border: 2px #9fef00 !important;
  color: #222629 !important;
}

/* Upload Page */

.submit {
  margin-top: 12px;
  padding: 4px 16px !important;
}

.container__userdef.active {
  background: #2b2c39 !important;
  filter: blur(50px);
}

.loadingMessage {
  display: inline-block !important;
}

:root {
  --point-color: #9fef00;
  --size: 7px;
}

.loader {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 100000;
}

.loader__element {
  border-radius: 100%;
  border: var(--size) solid var(--point-color);
  margin: calc(var(--size) * 2);
}

.loader__element:nth-child(1) {
  animation: preloader 0.6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
  animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}

.loader__element:nth-child(3) {
  animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}

@keyframes preloader {
  100% {
    transform: scale(2);
  }
}

#blur.container__userdef {
  margin: 0px;
  padding: 0px;
}

#loading {
  font-family: var(--bs-body-font-family);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#loading.active {
  top: 50%;
  left: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

/* Result Page */

.downloadCard {
  height: fit-content !important;
}

.displayChart {
  height: max-content !important;
}

/* Error Pages */
.container__errormessage {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  transform: translate(-50%, -50%);
}

#button__goback {
  text-decoration: none;
  background: #86c232;
  color: #fff;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 30px;
  font-size: 12px;
  transition: 0.4s;
  text-transform: uppercase;
}
/* New addition */
